<head>
    <link rel="stylesheet" type="text/css" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
</head>
<div class="container-scroller">
    {{> navbar}}
    <div class="container-fluid page-body-wrapper">
        {{> sidebar}}
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">
                        <span class="page-title-icon bg-gradient-info text-white me-2">
                            <i class="mdi mdi-clipboard-plus"></i>
                        </span> Thêm mới sản phẩm
                    </h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/list-product">Danh sách</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Sản phẩm</h4>
                                {{#if success}}
                                <input type="hidden" id="successful" value="{{success}}" />
                                {{/if}}
                                {{#if error}}
                                <div class="alert alert-danger">{{error}}</div>
                                {{/if}}
                                <br />
                                <form class="forms-sample" method="post" action="/addproduct"
                                    enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Loại sản phẩm</label>
                                        <select class="form-control form-control-lg" name="category_id">
                                            {{#each categories}}
                                            <option value="{{this._id}}">{{this.name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">Tên sản phẩm</label>
                                        <input type="text" class="form-control" name="name" placeholder="Tên sản phẩm" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Giá sản phẩm</label>
                                        <input type="number" class="form-control" name="price"
                                            placeholder="Giá sản phẩm" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Số lượng sản phẩm</label>
                                        <input type="number" class="form-control" name="quantity"
                                            placeholder="Số lượng sản phẩm" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Thông tin sản phẩm</label>
                                        <input type="text" class="form-control" name="description"
                                            placeholder="Thông tin" required>
                                    </div>
                                    <div class="form-group">
                                        <label>File upload</label>
                                        <input type="file" class="form-control" onchange="onChangeFile();"
                                            id="image-file" name="image" required>
                                        <img id="image-view"
                                            style="margin-top: 10px; width: 250px; height: 100px; display: none; object-fit: contain;"
                                            class="form-control" src="">
                                    </div>
                                    <button type="submit" class="btn btn-gradient-primary me-2">Thêm</button>
                                    <button class="btn btn-light">Hủy</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- plugins:js -->

<script>
    const onChangeFile = () => {
        const file = document.getElementById('image-file').files[0];
        const reader = new FileReader();
        reader.onload = e => {
            document.getElementById('image-view').src = e.target.result;
            document.getElementById('image-view').style.display = 'block';
        }
        reader.readAsDataURL(file);
    }

    window.onload = function () {
        var successful = document.getElementById("successful").value;
        if (successful) {
            let timerInterval
            Swal.fire({
                title: 'Thêm thành công!',
                timer: 1000,
                didOpen: () => {
                    const b = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => {
                        b.textContent = Swal.getTimerLeft()
                    }, 100)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }
            })
        }
    }
</script>