<head>
    <link rel="stylesheet" type="text/css" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
</head>
<div class="container-scroller">
    {{> navbar}}
    <div class="container-fluid page-body-wrapper">
        {{> sidebar}}
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">
                        <span class="page-title-icon bg-gradient-info text-white me-2">
                            <i class="mdi mdi-clipboard-plus"></i>
                        </span> Thêm thành viên
                    </h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/list-user">Danh sách</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Thành viên</li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Thành viên</h4>
                                <p style="color: red">(Thành viên đó sẽ có quyền quản trị FoodNice)</p>
                                {{#if success}}
                                <input type="hidden" id="successful" value="{{success}}" />
                                {{/if}}
                                {{#if error}}
                                <div class="alert alert-danger">{{error}}</div>
                                {{/if}}
                                <br/>
                                <form class="forms-sample" method="post" action="/register-user"
                                    enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">Tên thành viên</label>
                                        <input type="text" class="form-control" name="name" placeholder="Tên" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" name="email"
                                            placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Mật khẩu</label>
                                        <input type="password" class="form-control" name="password"
                                            placeholder="Mật khẩu" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Số điện thoại</label>
                                        <input type="number" class="form-control" name="phone"
                                            placeholder="Số điện thoại" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Chọn avatar</label>
                                        <input type="file" class="form-control" onchange="onChangeFile();"
                                                id="image-file" name="image" required>
                                        <img id="image-view"
                                            style="margin-top: 10px; width: 250px; height: 100px; display: none; object-fit: contain;"
                                            class="form-control" src="">
                                    </div>
                                    <button type="submit" id="submit" class="btn btn-gradient-primary me-2">Thêm</button>
                                    <button class="btn btn-light">Hủy</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- plugins:js -->

<script>
  const onChangeFile = () => {
    const file = document.getElementById('image-file').files[0];
    const reader = new FileReader();
    reader.onload = e => {
      document.getElementById('image-view').src = e.target.result;
      document.getElementById('image-view').style.display = 'block';
    }
    reader.readAsDataURL(file);
  }

  window.onload = function () {
        var successful = document.getElementById("successful").value;
        if (successful) {
            let timerInterval
            Swal.fire({
                title: 'Thêm thành công!',
                timer: 1000,
                didOpen: () => {
                    const b = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => {
                        b.textContent = Swal.getTimerLeft()
                    }, 100)
                },
                willClose: () => {
                    clearInterval(timerInterval)
                }
            })
        }
    }
</script>